body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  #quiz-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #3b3333;
  }
  
  #start-btn,
  .option,
  #initials,
  button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  #start-btn {
    background-color: #399bdc;
    color: #fff;
  }
  
  .option {
    background-color: #e9eced;
    color: #2b2828;
  }
  
  
 